@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: James Allen & Dylan Brune
   Date: Oct. 15th, 2018

   Filename:         pcg_paper.css
   Supporting Files: 

*/

/*General Styles*/
aside, body, em, footer, h1, header, html, img, li, main, nav, p, section, ul {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header, h1, nav, p, img, section, aside, footer {
    display: block;
}

html {
    background-color: rgba(210, 180, 140, 0.6);
}

body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

/*Header Styles*/
header {
    background-color: rgb(210, 180, 140);
}

header img {
    position: relative;
    clear: both;
    height: auto;
    width: 100%;
}

/*Nav Styles */
nav ul {
    list-style-type: none;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
    text-decoration: none;
    color: black;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
    text-decoration: none;
}

nav.horizontalNavigation {
    clear: both;
    padding-top: 10px;
    padding-bottom: 30px;
}

nav.horizontalNavigation li {
    width: 12.5%;
    float: left;
    text-align: center;
}

/*Aside Styles */
aside#rightColumn {
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    height: 300px;
    outline: 4px solid rgb(210, 180, 140);
    margin-left: 4px;
    margin-right: 4px;
}

aside#rightColumn li {
    margin-top: 10px;
    line-height: 15px;
    text-align: right;
}

aside#leftColumn {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    height: 300px;
    outline: 4px solid rgb(210, 180, 140);
    margin-left: 4px;
    margin-right: 10px;
}

aside#leftColumn h1 {
    text-align: center;
    padding-right: 15px;
    margin-top: 10px;
}

aside#leftColumn li {
    line-height: 25px;
}

aside#encounterCougar h1 {
    padding-left: 33px;
}

aside#encounterCougar ul{
    padding-left: 40px;
    list-style-type: decimal;
    font-size: 1.1em;
}


/*Section Styles */
section.bottomPage p {
    line-height: 19px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.05em;
}

section.bottomPage h1 {
    line-height: 30px;
    padding-left: 30px;
    font-size: 1.5em;
}

section#marathonWin img {
    float: right;
    padding-left: 10px;
    padding-right: 30px;
}

section#marathonWin p:first-of-type::first-line {
    padding-top: 100px;
}


/*Footer Styles */
footer {
    text-align: center;
    background-color: rgb(210, 180, 140);
}

footer a {
    color: black;
    text-decoration: none;
}

footer::after {
    clear: both;
    content: "";
    display: table;
}
