/@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: James Allen & Dylan Brune
   Date: Oct. 15th, 2018

   Filename:         pcg_paper.css
   Supporting Files: 

*/

/*General Styles*/
aside, body, em, footer, h1, header, html, img, li, main, nav, p, section, ul {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: rgba(210, 180, 140, 0.6);
}

body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 100%;
}

/*Header Styles*/
header {
    background-color: rgb(210, 180, 140);
}

header, nav, img, section, aside, footer {
    display: block;
}

header img {
    height: auto;
    width: 100%;
}

/*Nav Styles */
nav ul {
    list-style: none;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
    text-decoration: none;
    color: black;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
    text-decoration: none;
}

nav.horizontalNavigation {
    height: 20px;
    padding-bottom: 10px;
}

nav.horizontalNavigation li {
    width: 12.5%;
    float: left;
    text-align: center;
}
/*Aside Styles */
aside#rightColumn {
    padding-right: 20px;
    float: right;
    height: 300px;
    outline: 4px solid rgb(210, 180, 140);
    margin-left: 4px;
    margin-right: 4px;
}

aside#rightColumn li {
    margin-top: 10px;
    line-height: 15px;
}

aside#leftColumn {
    float: left;
    padding-right: 0px;
    height: 300px;
    outline: 4px solid rgb(210, 180, 140);
    margin-left: 4px;
    margin-right: 4px;
}

aside#leftColumn h1 {
    text-align: center;
    padding-right: 15px;
    margin-top: 10px;
}

aside#leftColumn li {
    line-height: 25px;
}
/*Section Styles */
section.bottomPage {
    padding-left: 20px;
    padding-right: 20px;
}
/*Footer Styles */
footer {
    text-align: center;
    background-color: rgb(210, 180, 140);
}

footer a {
    color: black;
    text-decoration: none;
}
